/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('images/f3.jpg'); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Add any other styles you need below */


.container {
  max-width:auto;
  margin: auto;
  padding: 20px;
  background-color: chocolate;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 h2 {
  color: white;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.team-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.image-gallery {
  margin-top: 20px;
}

.gallery-image {
  width: 25%;
  height: 150px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.gallery-image:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
 nav {
    background-color: black;
  padding: 10px;
  border: 1px solid #ddd;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
}

nav ul li {
  margin-right: 20px;
}

nav a {
  background-color:black;
  text-decoration: none;
  color: blue;
}

nav a:hover {
  color: blue;
}
div {
  background-color:red;

}
